<p>dados works!</p>

<div *ngIf="logado">
  <h2>Bem-vindo ao sistema!</h2>
</div>

<div *ngIf="!logado">
  <h2>Você precisa se autenticar.</h2>
</div>

<hr>

<button (click)="alternarLogin()">Alternar Login</button>

<div>
  <input type="text" [ngModel]="novaTarefa" placeholder="Digite uma nova tarefa">
  <button (click)="adicionarTarefa()">Adicionar</button>
</div>

<hr>

<ul>
  <li *ngFor="let tarefa of tarefas; let i = index">
    {{ tarefa }}
    
    <button (click)="removerTarefa(i)">Remover</button>
  </li>
</ul>